<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contributions</title>
    <script src="https://unpkg.com/intasend-inlinejs-sdk@4.0.0/build/intasend-inline.js"></script>
</head>
<style>
    .intaSendPayButton {
  background: #2cc1ee;
  border-radius: 3px;
  border: 1px solid #2cc1ee;
  color: #fff;
  height: 34px;
}
.intaSendPayButton:hover {
  cursor: pointer;
}
</style>
<body>
    <div><button class="intaSendPayButton" data-amount="10" data-currency="KES" data-email="{{ email }}" data-first_name="{{ first_name }}" data-last_name="{{ last_name }}" data-country="KE">Pay Now</button></div>
    <script>
          new window.IntaSend({
  // Replace with your Publishable Key
  publicAPIKey: "ISPubKey_live_aef19549-0327-451a-830a-74031f96cf7d",
  live: false //set to true when going live
})
.on("COMPLETE", (results) => console.log("Do something on success", results))
.on("FAILED", (results) => console.log("Do something on failure", results))
.on("IN-PROGRESS", (results) => console.log("Payment in progress status", results))
    </script>
</body>
</html>